$tematskaBoja1: #3aafa9;
$tematskaBoja2: #2b7a78;
$tematskaBoja3: #17252a;
$tematskaBoja4: #def2f1;
$tematskaBoja5: #feffff;
$tematskaBoja6: #5BACEB;
$formaPozadina: aliceblue;
$progresbar4: #4287f5;
$progresbar3: #3edced;
$progresbar2: orange;